@{
  Layout = "_Layout";
}
<center>
@Html.ActionLink("Home |", "Index", "Home")
@Html.ActionLink("Stylists | ", "Index", "Stylists")
@Html.ActionLink("Clients", "Index", "Clients")
<h1>Saint Hairon </h1>
</center>
  <div class="grid">
    <img src="~/img/knot.png" class="image">
    <img src="~/img/pink.jpeg" class="body">
  </div>
</div>
